* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #222;
}

header {
    text-align: center;
    border-bottom: solid blanchedalmond 2px;
    padding: 2rem 1rem;
    color: blanchedalmond;
    font-size: 0.8rem;
}

main {
    background-color: #555;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#gameContainer {
    background-color: #444;
    border: solid 2px blanchedalmond;
    border-radius: 0.5rem;
    min-width: 320px;
    max-width: 768px;
    height: fit-content;
    margin: 2rem 1rem;
}

#topContainer {
    background-color: #444;
    border: solid 2px blanchedalmond;
    border-radius: 0.5rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inventoryContainer {
    border: solid blanchedalmond 2px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 0.5rem;
    gap: 0.5rem 0;
    margin: 1rem auto 1rem 1rem;
    font-size: 0.8rem;
    text-align: center;
}

#codexContainer {
    border: solid blanchedalmond 2px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: fit-content;
    padding: 0.5rem;
    gap: 0.5rem 0;
    font-size: 0.8rem;
    margin: auto 1rem 1rem 1rem;
}

#codex, #armor {
    width: 30px;
}

#codex, #armor:hover {
    cursor: pointer;
}

#screen {
    border: solid 2px blanchedalmond;
    border-radius: 0.5rem;
    margin: 1rem;
    height: 500px;
    background-color: #333;
    position: relative;
    color: blanchedalmond;
}

#goldSoulContainer {
    border: solid 2px blanchedalmond;
    border-radius: 0.5rem;
    margin: 1rem;
    width: fit-content;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0;
}

#waveContainer {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

#versus {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25%;
}

#fightContainer {
    display: flex;
    position: absolute;
    bottom: 0.5rem;
    left: 0.75rem;
    gap: 0 1rem;
}

#heroContainer {
    margin-right: auto;
    border: solid 2px blanchedalmond;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

#bossContainer {
    border: solid 2px blanchedalmond;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-left: auto;
}

#gameStateContainer {
    background-color: #333;
    border: solid 2px blanchedalmond;
    border-radius: 0.5rem;
    margin: 2rem;
    height: 100px;
    text-align: left;
    padding: 1rem;
    color: blanchedalmond;
}

#controllerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 2rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.controllBtns {
    border: solid 2px blanchedalmond;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: #333;
    width: fit-content;
    color: blanchedalmond;
}

.controllBtns:hover {
    cursor: pointer;
}

#itemPocket {
    border: solid blanchedalmond 2px;
    border-radius: 0.5rem;
    display: none;
    justify-content: center;
    gap: 0.5rem 0;
    margin: 2rem 2rem;
    flex-direction: column;
}

.item {
    color: blanchedalmond;
    padding: 0.25rem;
    display: flex;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    align-items: center;
    gap: 0 0.25rem;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.item::before {
    content: "-";
}

.item:hover {
    cursor: pointer;
}

#inventoryModal {
    display: none;
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border: solid #333 2px;
    border-radius: 0.5rem;
}

#inventoryModalContent {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: fit-content;
    border: solid #333 2px;
    border-radius: 0.5rem;
    background-color: #eee;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 1rem;
    text-align: center;
    position: relative;
}

#inventoryClosingBtn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border: solid #333 2px;
    border-radius: 0.5rem;
    padding: 0.25rem;
    background-color: indianred;
}

#inventoryClosingBtn:hover {
    cursor: pointer;
}

#armorSetContainer {
    border: solid #333 2px;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: #333;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    text-align: center;
    margin: 2rem auto;
    gap: 1rem;
}

#head {
    grid-column: 2;
    grid-row: 1;
}

#neckless {
    grid-column: 2;
    grid-row: 2;
}

#chest, #leftArm, #rightArm {
    grid-row: 3;
}

#chest {
    grid-column: 2;
}

#leftArm {
    grid-column: 1;
}

#rightArm {
    grid-column: 3;
}

#leftRing, #rightRing {
    grid-row: 4;
}

#leftRing {
    grid-column: 1;
}

#rightRing {
    grid-column: 3;
}

#greaves {
    grid-column: 2;
    grid-row: 5;
}

#boots {
    grid-column: 2;
    grid-row: 6;
}

#head, #chest, #leftArm, #rightArm, #greaves, #boots, #neckless, #leftRing, #rightRing {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.armorPieces {
    border: solid #333 2px;
    border-radius: 0.5rem;
    padding: 0.25rem;
    background-color: #eee;
}

#codexModal {
    display: none;
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border: solid #333 2px;
    border-radius: 0.5rem;
}

#codexModalContent {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 300px;
    border: solid #333 2px;
    border-radius: 0.5rem;
    background-color: #eee;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-transform: uppercase;
    gap: 0 1rem;
    font-size: 0.8rem;
    padding: 1rem;
    position: relative;
}

#codexClosingBtn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border: solid #333 2px;
    border-radius: 0.5rem;
    padding: 0.25rem;
    background-color: indianred;
}

#codexClosingBtn:hover {
    cursor: pointer;
}

.codexInfosContainer {
    border: solid #333 2px;
    border-radius: 0.5rem;
    height: fit-content;
    margin-top: 2rem;
}

#lvlUpModal {
    display: none;
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border: solid #333 2px;
    border-radius: 0.5rem;
}

#lvlUpContainer {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 310px;
    height: 300px;
    border: solid #333 2px;
    border-radius: 0.5rem;
    background-color: #eee;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.6rem;
}

#chest:hover {
    cursor: pointer;
}

#lvlUpCardsContainer {
    display: none;
    gap: 0 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.lvlUpCards {
    border: solid #333 2px;
    border-radius: 0.5rem;
    background-color: #ffffff;
    width: fit-content;
    height: fit-content;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem 0;
    padding: 0.2rem;
}

.lvlUpCards:hover {
    cursor: pointer;
}

.lvlUpCardImg {
    width: 40px;
}

.lvlUpCardP {
    text-transform: uppercase;
    font-size: 0.5rem;
}

footer {
    border-top: solid blanchedalmond 2px;
}

.barContainers {
    height: 10px;
    border: solid 1px white;
    border-radius: 0.5rem;
    width: 100px;
}

.mainBarContainers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem 0;
}

.bar {
    border-radius: 0.5rem;
    height: 10px;
}

.svg {
    width: 80px;
    margin-top: 1rem;
}

.svg2 {
    width: 20px;
}

.nameContainers {
    display: flex;
    gap: 0 1rem;
}

@media screen and (min-width: 768px) {
    header {
        padding: 2rem 0;
        font-size: 1rem;
    }

    #gameContainer {
        width: 768px;
        margin: 2rem 0;
    }

    #screen {
        margin : 2rem;
    }

    #versus {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 50%;
    }

    #fightContainer {
        display: flex;
        position: absolute;
        bottom: 0.5rem;
        left: 0.5rem;
        right: 0.5rem;
    }
    
    #heroContainer {
        margin-right: auto;
        border: solid 2px blanchedalmond;
        border-radius: 0.5rem;
        padding: 1rem;
    }
    
    #bossContainer {
        border: solid 2px blanchedalmond;
        border-radius: 0.5rem;
        padding: 1rem;
        margin-left: auto;
    }

    #lvlUpContainer {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
        width: 500px;
        height: 500px;
        border: solid #333 2px;
        border-radius: 0.5rem;
        background-color: #eee;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: 1rem;
    }

    .lvlUpCards {
        border: solid #333 2px;
        border-radius: 0.5rem;
        background-color: #ffffff;
        width: 80px;
        height: 150px;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem 0;
        font-size: 1rem;
    }

    .lvlUpCardP {
        text-transform: uppercase;
        font-size: 0.8rem;
    }

    #codexModalContent {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
        width: 500px;
        height: 500px;
        border: solid #333 2px;
        border-radius: 0.5rem;
        background-color: #eee;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-transform: uppercase;
        font-size: 1rem;
        padding: 1rem;
    }

    #itemPocket {
        border: solid blanchedalmond 2px;
        border-radius: 0.5rem;
        display: none;
        justify-content: left;
        gap: 0.5rem 0;
        margin: 2rem 2rem;
        flex-direction: row;
    }

    .item {
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 0.25rem;
        text-transform: uppercase;
    }
}